.Img{
    width: 100% !important;
}

.ProductDetail{
    margin: 0px auto;
    margin-top: 20px;
    width: 80%;
    font-size: 0.75rem;
}


@media (min-width: 426px){
    .ProductDetail{
        width: 60%;
        font-size: 1rem;
    }
}

@media (min-width: 1025px){
    .ProductDetail{
        width: 40%;
        font-size: 1rem;
    }
}